---
title: "Collection Status Page: DAM"
---

<div class="container">
  <div class="row">
    <h1><%= data.page.title %></h1>
    <h2>need files</h2>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/66/"></div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/132/"></div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/127/"></div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/106/"></div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/104/"></div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/108/"></div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/189/"></div>
  </div>
  <div class="row">
    <h2>files need to be imported into nuxeo</h2>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/2/">UCD/halberstadt</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/5/">UCD/yolo</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/67/">UCM/MercedMugBook</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/68/">UCM/Mclean</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/69/">"UCM/Angels Camp"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/76/">UCM/nightingale</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/65/">UCM/LIJA &amp; "UCM/LIJA-no md"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/20/">UCI/McMillan</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/21/">UCI/Gearhardt</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/25/">UCI/Loring</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/191/">UCI/UCIHistory/OralHistories</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/192/">UCI/UCIHistory/FilmsAndVideo</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/193/">UCI/UCIHistory/Publications</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/194/">UCI/UCIHistory/Photographs/EarlyCampusPhotoAlbums</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/195/">UCI/UCIHistory/Photographs/Slides</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/196/">UCI/UCIHistory/Photographs/StaffPhotographerImages</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/36/">UCI/VAOHP</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/77/">"UCR/oral history interviews"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/78/">"UCR/university archives photographs"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/79/">"UCR/sabino osuna papers"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/80/">"UCR/tuskegee airmen archive"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/81/">"UCR/george fujimoto diaries"</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/82/">"UCR/highlander student newspaper"</div>
  </div>
  <div class="row">
    <h2>imported nuxeo documents need metadata linked</h2>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/19/">
      Nuxeo: <a href="https://nuxeo.cdlib.org/nuxeo/nxdoc/default/399637a4-24af-4c4a-9298-bca82ce69050/view_documents">asset-library/UCI/Cochems</a>
    </div>
  </div>
  <div class="row">
    <h2>file and metadata imported</h2>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/32/">
      Nuxeo: <a href="https://nuxeo.cdlib.org/nuxeo/nxdoc/default/d82e9ab7-35a0-4f0b-b65b-2d4588467c49/view_documents">asset-library/UCI/Rorty</a>
    </div>
  </div>
</div>
