---
title: Welcome to Middleman
---

<div class="container">
  <h1>Collection Status Page: DAM</h1>
  <div class="row">
    <h2 class="col-xs-12">Getting Files</h2>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/2/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/5/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/66/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/67/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/68/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/69/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/76/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/65/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/32/">X</div>
    <div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/19/">X</div>
    <div class="col-lg-4 panel panel-default">HEY</div>
    <div class="col-lg-4 panel panel-default"><div class="panel-body">HEY</div></div>
    <div class="col-lg-4 panel panel-default panel-body">HEY</div>
    <div class="col-lg-4 panel panel-default"><div class="panel-body">HEY<br/>HEY2</div></div>
    <div class="col-lg-4 panel panel-default"><div class="panel-body">HEY</div></div>
    <div class="col-lg-4 panel panel-default panel-body">HEY</div>
    <div class="col-lg-4 panel panel-default"><div class="panel-body">HEY<br/>HEY2</div></div>
    <div class="col-lg-4 panel panel-default"><div class="panel-body">HEY</div></div>
    <div class="col-lg-4 panel panel-default panel-body">HEY</div>
    <div class="col-lg-4 panel panel-default"><div class="panel-body">HEY<br/>HEY2</div></div>
    <div class="col-lg-4">HEY</div>
    <div class="col-lg-4">HEY</div>
    <div class="col-lg-4">HEY</div>
    <div class="col-lg-4">HEY</div>
    <div class="col-lg-4">HEY</div>
  </div>
  <div class="row">
    <h2>Ready for Bulk Importing (files)</h2>
  </div>
  <div class="row">
    <h2>Ready for Metadata Import</h2>
  </div>
  <div class="row">
    <h2>Ready Feedback</h2>
  </div>

</div>

<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/20/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/21/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/25/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/190/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/191/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/192/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/193/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/194/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/195/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/196/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/36/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/77/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/78/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/79/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/80/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/81/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/82/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/132/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/127/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/106/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/104/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/108/">X</div>
<div data-ucldc-collection="https://registry.cdlib.org/api/v1/collection/189/">X</div>
